@charset "UTF-8";

*{ /*Iniciar com essas configurações*/
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 110vh;/*Altura total do navegador*/
    width: 100vw;/*Largura total do navegador*/
    background-color: black;
}

body{
    
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover; /*para cobrir a tela inteira*/
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
    
}

section#telefone{
    /*ESSES TRÊS PARÂMETROS POSITION, TOP, LEFT E TRANSFORM fazem a section ficar centralizada*/
    position: absolute;/*quando eu defino dessa forma, me permite centralizar*/
    top: 50%;/*configurando aqui o top e o left ele não vai ficar centralizado, fazer a configuração transform para centralizar*/
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;/*Abri a imagem no gimp e peguei as dimensões exatas*/
    width: 311px;
   
    background: url('../imagens/frame-iphone.png') no-repeat; /* ../ voltar uma pasta*/

}

iframe#tela{
    position: relative;
    top: 80px;
    left: 23.5px;
    width: 265.6px;
    height: 471px;
   
}

section#redes-sociais{/*Jogar os ícones para a esquerda da tela*/
    text-align: right;
}

section#redes-sociais img{
    width: 60px; /*diminuir o tamanho*/
    margin: 15px; /*dar um espaço entre eles*/
    border-radius: 50%;/*arredondar as bordas*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
    box-sizing: border-box;

}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.647);/*quando eu passar o mouse cria uma borda branca, porém ele acaba movimento a imagem de baixo, para resolver isso adiciona a configuração box-sizing border-box, assim a borda se torna parte da imagem*/
    transform: translate(-3px, -3px);/*subir levemente*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.218);
    transition: transform .3s, border 1s;/*intervalo para ele fazer a transição e mostrar a borda*/
}